.dart_tool/
.packages
pubspec.lock
build/
example/.dart_tool/
example/build/
example/pubspec.lock
android/.cxx/
android/build/
android/local.properties
ios/Pods/
example/android/local.properties
example/ios/Pods/
example/integration_test/
